# Virtual environment
venv/

# Data directories
data/data_raw/*
data/data_processed/*
data/debug/*

# Keep .gitkeep files to maintain directory structure
!data/data_raw/.gitkeep
!data/data_processed/.gitkeep
!data/debug/.gitkeep

# VS Code
.vscode/

# temporarily
results/